import React from "react";
import { Img } from "react-image";
import  './Aboutus.css'

const Aboutus = () => {
  return (
    <div class="contain">
      <div class="row" style={{ display: "flex" }}>
        <div class="col-md-3 cols3">
          <div class="directoratelft">
            <div class="region">
              <div id="block">
                <h2>PAN India </h2>
                <div class="content">
                  <div class="selectinfo">
                    <ul>
                      <li class="data">
                        <a href="www.google.com">UTTAR-PRADESH</a>
                      </li>
                      <li class="data">
                        <a href="www.google.com">UTTAR-PRADESH</a>
                      </li>
                      <li class="data">
                        <a href="www.google.com">UTTAR-PRADESH</a>
                      </li>
                      <li class="data">
                        <a href="www.google.com">UTTAR-PRADESH</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 sols5">
          
            <img src={require("../images/b.png")} alt="img" className="sol5img"></img>
          
        </div>
        <div class="col-md-4 cols4">
          <div id="view-director">
            <div
              id="directorinfo"
              className="directorinfo"
              style={{ display: "block" }}
            >
              <div class="directorproinfo">
                <div class="photo">
                  <a href="www.google.com">
                    <img
                      src={require("../images/dg.png")}
                      title="DG"
                      alt="dg"
                      className="dgimg"
                    />
                  </a>
                </div>
                <div class="profilename">
                  <h4>Arvind Kumar</h4>
                  <p>Director Genral</p>
                </div>
                <div class="directorhead">
                  <h4>ERNET|INDIA</h4>
                </div>
              </div>
              <ul className="dircontactinfo">
                <li>
                  ERNET INDIA| Delhi IT Park, Metro Vihar, Shahdra, New Delhi
                </li>
                <li class="iconcall">
                  +91-987654321 / 01982474 +91-1120815076
                </li>
                <li class="icon email">dg[at]ernet[dot]in</li>
              </ul>
              <a class="commanbtn" href="http://stpi.in/about-stpi">
                Know more{" "}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  );
};

export default Aboutus;


.contain{
  position: relative;
  padding:0 15px;
  margin:0 auto;
  width:100%;
  max-width:1280px;
  box-shadow:0 0 1rem rgba(0,0,0,0.6);
  background-color: rgba(255,255,255,0.25);
  transition:all 0.3s;
  display:wrap;
  flex-wrap:wrap;
  justify-content:space-between;
}
.cols3{
  width:25%;
  float:left;
  padding-left:15px;
  padding-right:15px;
}
.directoratelft{
  padding:70px 0;
}
.directoratelft .selectinfo{
  margin-top:30px;
  margin:50px 0 0 0;
}
.directoratelf .ul .li{
  margin-bottom:4px;
  list-style:none;
}
.li{
  background-color:rgba(255,255,255,0.25);
  box-shadow:0 0 1rem rgba(0,0,0,0.6);
  outline:1px solid #d90416 !important;
}
.directoratelft .selectinfo .a{
  display:block;
  vertical-align:top;
  text-decoration:none;
  position: relative;
  font-size:1.214em;
  font-weight:600;
  text-transform:uppercase;
  outline:none;
  outline:1px solid #ff62ab !important;
}

.sols5{
  flex: 0 0 3.66%;
  max-width: 36.66%;
  float:left;
  padding-left:15px;
  height:auto;
  padding-right:15px;
  background-color:grey;
  
}

.cols4{
  width: 33.3em;
  float:left;
  padding-left:15px;
  padding-right:15px;
  color:#393939;
  flex: 0 0 33.3%;
  max-width: 33.3%;
  height:auto;
  position:relative;
  margin-left:280px;
  background-color:red;
}
.directorinfo{
  display: block;
  position: relative;
  right:-80px;
  top:0px;
  width:100%;
  height:100%;
  overflow:auto;
  color:#fff;
  background:linear-gradient(to bottom, rgba(0, 7, 101, 1) 0%, rgba(40, 100, 110, 1) 100%);
}
.directorproinfo{
  padding-left:40px;

}
.directorinfo .photo{
  border:7px xolid #4f6591;
  display:inline-block;
  vertical-align:top;
  border-radius:50%;
  overflow:hidden;
}
.photo .a{
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.25);
  text-decoration: none;
  color: #2d378a;
}
.dgimg{
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.25);
  outline: 1px solid #22746b !important;
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;

}
.directorinfo .profilename{
  margin:10px 0 15px 0;

}
.directorinfo .profilename .h4 .a{
  color:white;

}
.directorinfo .profilename .p{
  margin:0px;
  font-weight:bold;
  line-height:1.4em;
  padding:0;
}
.directorhead{
  background-color: #bac5e5;
  font-weight: bold;
  color: #3737a8;
  border-radius: 0px 15px 15px 0px;
  padding: 5px 60px 5px 75px;
  display: inline-block;
  margin-bottom: 30px;
  margin-left: -80px;
  -moz-box-shadow: -5px 10px 54px -15px rgba(0, 0, 0, 0.91);
  -webkit-box-shadow: -5px 10px 54px -15px rgba(0, 0, 0, 0.91);
  box-shadow: -5px 10px 54px -15px rgba(0, 0, 0, 0.91);
}
.directorhead .h4{
  margin:0px;
  font-weight:bold;
  outline: 1px solid #449baf !important;
}
.dircontactinfo{ 
  list-style: none;
  padding: 0px;
  margin: 0px 0px 30px;
}

.dircontactinfo .li{
  margin-bottom:12px;
}
.dircontactinfo .icon{
  padding-left:40px;
}
.dircontactinfo .li{
  font-size:1.2em;
  position:relative;
} 
.dircontactinfo .icon::before{
  content: "";
  left: 0px;
  position: absolute;
  width: 40px;
  top: 0px;
  font-family: fontAwesome;
  height: 40px;
  line-height: 1;
  font-size: 1.4em;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.commonBtn {
  background: #ffd400;
  color: #3737a8;
  padding: 12px 28px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  line-height: 1.2;
}
.sol5img{
  width:300px !important;
  
}